<nb-layout>
  <nb-layout-column>    
    <nb-card>
      <nb-card-header>Principal</nb-card-header>
      <nb-card-body>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div fxLayout="column" fxLayoutGap="30px">
            <div fxLayout="row" fxLayoutGap="30px">
              <div fxLayout="column" fxLayoutGap="20px" fxFlex="50%">
                <div fxLayoutAlign="space-between center">
                  <input type="text" nbInput  fieldSize="medium" placeholder="Prefix i.e Mr, Mr" formControlName="prefix">                  
                  <nb-select 
                  [status]="validateFormcontrolName('gender')"
                  placeholder="[choose Gender]" formControlName="gender">                    
                    <nb-option value="0">Male</nb-option>
                    <nb-option value="1">Female</nb-option>
                    <nb-option value="2">Other</nb-option>                    
                  </nb-select>
                </div>
                <div>
                  <input type="text" fullWidth nbInput  fieldSize="medium"
                  [status]="validateFormcontrolName('firstName')"
                  placeholder="First Name" formControlName="firstName">
                  <div class="hint">
                    Enter the first name.
                  </div>
                </div>
                <input type="text" fullWidth nbInput  fieldSize="medium" placeholder="Middle Name" formControlName="middleName">
                <div>
                  <input type="text" fullWidth nbInput  fieldSize="medium" 
                  [status]="validateFormcontrolName('lastName')"
                  placeholder="Last Name" formControlName="lastName">
                  <div class="hint">
                    Enter the last name.
                  </div>
                </div>
                <input type="text" fullWidth nbInput  fieldSize="medium" placeholder="Postfix i.e Dr., Jr., ll" formControlName="postfix">
              </div>
    
              <div fxLayout="column" fxLayoutGap="20px" fxFlex="50%">                
                <div>
                  <nb-form-field>
                    <nb-icon nbSuffix icon="calendar" pack="eva"></nb-icon>
                    <input fullWidth nbInput [nbDatepicker]="datepicker" 
                    [status]="validateFormcontrolName('date','warning')"
                    placeholder="mm/dd/yyyy" formControlName="date">
                  </nb-form-field>                  
                  <nb-datepicker #datepicker format="MM/dd/yyyy"></nb-datepicker>
                  <div class="hint">
                    Enter a date of birth or SSN.
                  </div>
                </div>
                <div>
                  <input type="text" fullWidth nbInput  fieldSize="medium" 
                  [status]="validateFormcontrolName('ssn','warning')"
                  placeholder="SSN: (000-00-0000)" formControlName="ssn" mask="000-00-0000">
                  <div class="hint">
                    Enter a security number or Dob.
                  </div>

                  <ng-container *ngIf="form.get('ssn').invalid && form.get('ssn').touched">
                    <p class="caption status-danger" *ngIf="form.get('ssn').errors?.pattern">
                      Add correct format pattern 000-00-0000
                    </p>
                  </ng-container>
                </div>
                <div>
                  <input type="text" fullWidth nbInput  fieldSize="medium" placeholder="Email" formControlName="email">  
                  <ng-container *ngIf="form.get('email').invalid && form.get('email').touched">
                    <p class="caption status-danger" *ngIf="form.get('email').errors?.email">
                      Add correct email
                    </p>
                  </ng-container>
                </div>
                <div>
                  <input type="text" fullWidth nbInput  fieldSize="medium" mask= "(000) 000-0000"
                  placeholder="Phone (000) 000-0000" formControlName="phone">  
                  <ng-container *ngIf="form.get('phone').invalid && form.get('phone').touched">
                    <p class="caption status-danger" *ngIf="form.get('phone').errors?.pattern">
                      Add correct format pattern (000) 000-0000
                    </p>
                  </ng-container>
                </div>
                <div>
                  <input type="text" fullWidth nbInput  fieldSize="medium" mask= "(000) 000-0000"
                  placeholder="Alternate Phone (000) 000-0000 (EVC)" formControlName="alternativePhone">  
                  <div class="hint">
                    Enter secondary EVC phone number (Not Required).
                  </div>
                  <ng-container *ngIf="form.get('alternativePhone').invalid && form.get('alternativePhone').touched">
                    <p class="caption status-danger" *ngIf="form.get('alternativePhone').errors?.pattern">
                      Add correct format pattern (000) 000-0000
                    </p>
                  </ng-container>
                </div>
              </div>
            </div>
            

            <div fxLayoutAlign="end">              
              <button nbButton status="primary" [disabled]="form.invalid">Pull Credit Score</button>
            </div>

          </div>          
        </form>
      </nb-card-body>
    </nb-card>
  </nb-layout-column>
</nb-layout>
